My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "ین تصویر یک فاکتور است. متن آن را کاملاً تحلیل کن و فقط یک JSON برگردان. نام شرکت فروشنده را از بخش مشخصات فروشنده و مبلغ نهایی (۱۳۶۰۰۰۰۰۰) را استخراج کن. فیلدها: {\"vendor\": \"نام\", \"total\": عدد, \"date\": \"تاریخ\", \"category\": \"تجهیزات\"}",
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "7c7ed463-49aa-43e2-8e39-26917074a3d8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        224
      ],
      "id": "ba0e655f-9d21-42bc-97e8-07526bff84db",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FwucfU1tILp24Hm5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO invoices (vendor_name, amount)\nVALUES (\n  '{{ $node[\"AI Agent\"].json.vendor }}',\n  CAST(NULLIF('{{ $node[\"AI Agent\"].json.total }}', 'undefined') AS NUMERIC)\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        -32
      ],
      "id": "4e535f82-3ffe-47ba-8a9f-1ce2dd09553f",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "pvHNDgDbRX4Fjjp4",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/R1.pdf",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -80,
        -128
      ],
      "id": "3bc77a1f-682c-4927-bbcf-7a51bd931af8",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -48
      ],
      "id": "55e41b1d-5d2a-4d5f-b0ce-bce7fba23226",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24214af5-30be-4868-ba38-97df011e726f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "683090f66282a43c27314586b85f92fe5775ade10e252bbfac12156414d9c44f"
  },
  "id": "IGVhU9HZUlSewVeM",
  "tags": []
}